@import "tailwindcss";

:root {
            --azul-logo: #050E21;
            --cinza-circuito: #566266;
               background-color: #050E21;
               scrollbar:none;
        }

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--azul-logo);
    color: white;
}
 body::-webkit-scrollbar {
      display: none;
    }